/* /* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General header styling */
.header {
  background-color: #63676b;
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header .col-3 {
  flex: 1;
  text-align: center;
}

.header .col-3 a {
  text-decoration: none;
  color: #e9eef4;
  font-weight: bold;
  font-size: 18px;
}

.header .col-3 a:hover {
  color: #f1d556;
}

/* Row class to manage overall layout */
.row {
  display: flex;
  width: 100%;
}

/* Responsive styling */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
  }

  .header .col-3 {
    margin-bottom: 10px;
  }
}
h1 {
  text-align: center;
}
